/BACKUP
/_build
/CoEndoYoneda.agda
/CubicalLibraryBasedPurity.agda
/CubicalPurity.agda
/TopCubicalLibraryBasedPurity.agda
/CoEndoYoneda.agda
/Purity.agda
/TopCubicalPurity.agda
/PurityExamples.agda
/TopPurity.agda